.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container-fluid {
  margin: 0;
  padding: 0;
}


/* ########################## Landing  #############################*/
.landing {
  /* background-image: url("image/bird.svg"); */
  /* background-size: contain; */
  font-size: 16px;
  /* line-height: 20px; */
}

.landing-list {
  color: #fff;
  /* max-width: 440px; */
  padding: 0 16px;
  position: relative;
}

.landing-login {
  width :40%
}

.landing-list-item {
  margin: 48px auto;
  font-size: 18px;
  font-weight: bold ;
}

.left-landing {
  height: 100vh;
  background-color: #1da1f2;
  overflow: hidden;
}
.right-landing {
  height:100vh;
  color: black;
  background-color: white;
}
ul {
  list-style-type: none;
}

.left-landing > svg {
  height: 140vh;
  right: -80vh;
  top: -20vh;
  position: absolute;
}

.btn-signin {
  border: 1px solid #1da1f2;
  border-radius: 43%;
  padding: 10px;
  background-color: white;
  color: #1da1f2;
  font-weight: 700;
  transition: 0.5s ease;
}

.btn-signin:hover {
  border: 1px solid white;
  background-color: #1da1f2;
  color: white;
  transition: 0.5s ease;
}

.fa-twitter{ 
  font-size: 50px;
  color: #1da1f2;
}
