.App {
  text-align: center;
  font-weight: lighter;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.loader-custom {
  width: 100%;
  padding-left: 20%;
}

/* ########################## Landing  #############################*/
.landing {
  /* background-image: url("image/bird.svg"); */
  /* background-size: contain; */
  font-size: 16px;
  /* line-height: 20px; */
}

.landing > .row {
  max-width: 100%;
}

.landing-list {
  color: #fff;
  /* max-width: 440px; */
  padding: 0 16px;
  position: relative;
}

.landing-login {
  width: 40%;
}

.landing-list-item {
  margin: 48px auto;
  font-size: 18px;
  font-weight: bold;
}

.left-landing {
  height: 100vh;
  background-color: #1da1f2;
  overflow: hidden;
}
.right-landing {
  height: 100vh;
  color: black;
  background-color: white;
}
ul {
  list-style-type: none;
}

.left-landing > svg {
  height: 140vh;
  right: -80vh;
  top: -20vh;
  position: absolute;
}

.btn-signin {
  border: 1px solid #1da1f2;
  border-radius: 43%;
  padding: 10px;
  background-color: white;
  color: #1da1f2;
  font-weight: 700;
  transition: 0.5s ease;
}

.btn-signin:hover {
  border: 1px solid white;
  background-color: #1da1f2;
  color: white;
  transition: 0.5s ease;
}

.fa-twitter {
  font-size: 50px;
  color: #1da1f2;
}

.hastag-markup {
  color: blue;
  cursor: pointer;
}

.btn-function {
  border: none;
  background-color: white;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
/* ############################# post detail ######################### */
.post-detail {
  max-width: 100%;
  padding: 0 !important;
  margin-top: 10px;
  background-color: white;
}

[contentEditable="true"]:empty::before {
  content: attr(placeholder);
  color: grey;
}

[contentEditable="true"]:focus {
  outline: 0px solid transparent;
}

.post-detail-content {
  /* width: 100%; */
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.row {
  margin: 0;
  max-width: 100%;
  margin: 0 !important;
}
.content {
  padding:0;
}

.image-post-detail {
  max-height: 40px;
}

.comment-section {
  border: 1px solid silver;
}

#comment-markup {
  height: 50px;
}

.postdetail-head {
  cursor: pointer;
}

.currentpost-comment-section {
  border: 1px solid rgba(184, 184, 184, 0.58);
  margin-top: 12px;
}

.btn-custom {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
}
.fa-chevron-down {
  color: #1da1f2;
}

.fa-trash-alt {
  color: red;
}

.input-standard {
  width: 100%;
  margin: 20px 0;
}

.btn-custom:focus {
  background-color: red;
  border: none;
}

.btn-follow {
  min-width: 130px;
  padding: 10px 0;
  border: none;
  border-radius: 25px;
  background-color: #1da1f2;
  color: white;
}

.border-left {
  border-left: 1px solid #0000003b
}

.profile-number p {
  /* min-height: 50px; */
  background-color: #1da1f2;
  width: calc(100% / 4);
  font-weight: 100;
  text-align: center;
  color: white;
  height: 30px;
}
.profile-detail {
  height: 80%;
}
.profile-username {
  height: 20%;
  margin: 0;
}

/* trending */
.trending-board {
  /* border: 1px solid black; */
  border-radius: 16px;
  background-color: #f5f8fa;
}

.trending-input {
  border-radius: 25px !important;
  margin-bottom: 10px;
}

#trending-border {
  border-top: 1px solid #0c888838;
  border-bottom: 1px solid #0c888838;
}

.trending-detail {
  line-height: 30px;
  padding-left: 10px;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media only screen and (max-width:441px){
  .avatar-input > img{
    width: 40px;
    padding-left:5px;
  }
}

.btn-post:disabled {
  background-color: #dddce0;
  color:black;
}
.ant-progress-text{
  display: none;
}

.extra-text{
  background-color: red;
}